<!DOCTYPE html>
{% include head.html %}


    15th International Conference on Parsing Technologies (IWPT 2017)

                         September 20-22, 2017
  
                              Pisa, Italy

                  http://compling.ucdavis.edu/iwpt2017


FIRST CALL FOR PAPERS

The ACL Special Interest Group on Natural Language Parsing (SIGPARSE)
invites submissions to its biennual conference on parsing
technologies.  IWPT 2017 will be the 15th conference in a series that
started in 1989.  The conference will be held between September 20 and
September 22, 2017, in Pisa, Italy, within easy reach of most of
Europe through its international airport.  Please mark your calendars!

*** refer to DepLing and shared task ***


SUBMISSIONS

IWPT addresses all aspects of structural analysis of natural language,
including but not limited to:

- Parsing of natural language (phonological, morphological, syntactic,
  semantic, discourse, etc.)
- Formal models and algorithms for recognition, parsing and transduction
- Machine learning techniques for syntax and parsing
- Complexity of languages, models and algorithms
- Learning of recursive structure (linguistic/latent)
- Parsing in machine translation (synchronous parsing; alignment by
  parsing; translation by parsing, etc.)
- Cognitive models of language processing
- Multilingual and multimodal perspectives on syntax and parsing
- Domain and genre adaptation, portability and robustness of parsing
  systems
- Practical applications of parsing technology
- Parser evaluation (across languages and frameworks)

We invite paper submissions in two distinct tracks:

- regular papers on substantial, original, and unpublished research,
  including empirical evaluation results, where appropriate; and

- short papers on smaller, focused contributions, work in progress,
  negative results, surveys, or opinion pieces.

Papers accepted for presentation at the conference will be included in
the IWPT 2017 proceedings, which will be published by the ACL.  After
the conference, we anticipate publication of a selection of papers in
extended and revised form as a journal special issue. (*** shall we do
this this time? ***)


SCHEDULE *** should be determined ***

- Wednesday, July 5, 2017: Submission of Papers
- Wednesday, August 9, 2017: Notification of Acceptance
- Wednesday, August 30, 2015: Camera-Ready Manuscripts
- Wednesday to Friday, September 20 to 22, 2017: Conference


FORMATS *** maybe borrow the style files from ACL 2017 ***

All submissions must follow the styles of ACL 2017.  Style templates
for LaTeX (preferred) and Microsoft Word are available at the
following web site.

http://acl2017.org/calls/papers/

Submissions must be anonymous, i.e. not reveal author(s) on the title
page or through self-references.  Papers must be submitted digitally,
in PDF, and uploaded through the on-line conference system, which will
open in early April.  Paper submissions that violate either of these
requirements will be returned without review.

*** why nine pages for regular papers? ***

The page limits for submissions are: up to nine pages of content for
regular papers, and up to four pages of content for short papers; any
additional number of pages can be used for bibliographic references.


GENERAL CHAIR
  Kenji Sagae, University of California, Davis (United States)

PROGRAMME CHAIR
  Yusuke Miyao, National Institute of Informatics (Japan)

ORGANIZING CO-CHAIR
  Giuseppe Attardi, University of Pisa (Italy)
  Felice Dell’Orletta, Istituto di Linguistica Computazionale "A. Zampolli" - CNR - Pisa (Italy)

{%include foot.html %}